#left-area ol {
    padding: 0 0 23px 0;
    line-height: 26px;
    list-style-position: outside;
    list-style-type: decimal;
    margin: 10px;
}
ul { margin:10px;}

.accept-shortcode {
}

.ep_dashboard {
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.ep_acceptrules {
	margin-left: auto;
	margin-right: auto;
}

.szakkol-join-button {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#login_button {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}